<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Name:</strong>
    <%= bookmark.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= bookmark.url %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= bookmark.position %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= bookmark.data %>
  </p>

</div>

