<div id="<%= dom_id user %>">
  <p>
    <strong>User:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= user.apellido %>
  </p>

  <p>
    <strong>Apodo:</strong>
    <%= user.apodo %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= user.correo %>
  </p>

  <p>
    <strong>Zona horaria:</strong>
    <%= user.zona_horaria %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= user.descripcion %>
  </p>

</div>
